{% extends 'common/parent.html' %}
{% load static %}
{% block title %}修改密码{% endblock %}
{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">修改密码</a>
        </h1>
    </header>
{% endblock %}
{% block content %}
    <form action="" class="form" method="post">
        {% csrf_token %}
        <div style="height: 49px;"></div>
        <input type="password" name="password" placeholder="旧密码" class="login-password">
        <p class="am-text-danger">{{ errors.password.0 }}</p>
        <input type="password" name="password2" placeholder="新密码" class="login-name">
        <p class="am-text-danger">{{ errors.password2.0 }}</p>
        <input type="password" name="repassword2" placeholder="确认新密码" class="login-password">
        <p class="am-text-danger">{{ errors.repassword2.0 }}</p>
        <input type="submit" class="login-btn" value="确认">
    </form>
{% endblock %}